@import './vars';
@import './mixins';
// Small devices (landscape phones, 320px and up)

@media (min-width: 320px) { 
   body {
      font-size: 97%;
   }

 .ua {
    display: none;
 }

.cv__header {
   
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin-bottom: 10px;
   margin-left: 10px;
   margin-right: 10px;
   padding: 10px 0;

   .user { 
      justify-content: center;
      margin-bottom: 4px;

      header { 
         margin-left: 0;
         padding: 0 10px;
     }

      .icon {
         align-self: auto;
         flex-direction: column;

         & > div { 
            margin-bottom: 10px;
            margin-left: auto; 
         }

         ul {
            margin-bottom: 0;
            margin-left: auto;
            margin-top: 0;
         }

         li {
            margin-bottom: 10px;
         }

         a {
            align-items: center;
            display: flex;
            font-size: 0.9em;
            justify-content: flex-end;
         }

         span {
            font-size: 1em;
            margin-left: 2px;
         }
      } 

      &__name {
         margin-bottom: 25px;
         
         p {
            font-size: 0.7em;
         }

         h1 {
            font-size: 1.4em;
            margin-top: 0;
         }
      }

      &__logo {        
         height: 150px;
         width: 280px;

         .img-сontainer {         
            height: 150px;
            // overflow: hidden;
            position: relative;
            width: 280px;
         }

         .img-container-after,
         .img-container-before {
            height: 150px;
            overflow: hidden;
            position: absolute;
            width: 280px;
         }
         
         .img-container-before {
            width: 10%;
         }

         .after,
         .before {
            height: 150px;
            object-fit: fill;
            width: 280px;
         }

         .slider {
            background-color: #fff;
            height: 150px;
            left: 10%;
            position: absolute;
            top: 0;
            transform: translate(-50%, 0%);
            width: 4px;
            z-index: 10;
         }

      } 
   }
}

.cv__body {
   grid-gap: 10px;
   margin-left: 10px;
   margin-right: 10px;
 
   p {
      font-size: 0.9em;
   }

   
.h2 {
   text-align: center;
}



.item {
   padding: 10px 15px;

   &__subtitle {
      margin-top: 0;
   }
}

.item-1 {
   @include border-bottom;
   @include border-top-and-botom;   
   margin-left: 10px;
   margin-right: 10px;
}

.item-2 {
   @include border-bottom;    
   margin-left: 10px;
   margin-right: 10px;
}

.item-3 {
   margin-left: 10px;
   margin-right: 10px;
}

.item-4 {   
   margin-left: 10px;
   margin-right: 10px;
}

.item-5 {
   @include border-top; 
   margin-left: 10px;
   margin-right: 10px;
   
   li {
      margin-bottom: 10px;

      &:hover a {
       color: $color-acent-hover;
      

      }
    
   }

   a {
      align-items: center;
      background-color: rgb(17, 17, 17);
      color: $acent-link;
      display: flex;
      padding: 5px;
      transition: $transition-link-out;

      
      & span {
         margin-right: 10px;
      }
   }
}

.item-6 {
   align-items: center;
   background-color: $color-acent-hover;
   display: flex;
   justify-content: center;
   margin-left: -10px;
   margin-right: -10px;
   padding: 0 15px;
   text-align: center;
   z-index: 1;


   strong {
      font-size: 0.7em; 
   }

   p {
      line-height: 0.7em;
   }

}

.skills {
      margin-bottom: 10px;
      margin-left: -10px;

      &__alignItems {
         align-items: flex-end;
      
         span {
            margin-right: 5px;
         }
      }

      li {           
      font-size: 22px;
      margin-bottom: 10px;
      margin-left: 10px;
      min-width: 100px;

      } 
   }

.google {
   display: inline-block;
   height: 24px;
   vertical-align: middle;
   width: 74px;

   &__link {
   position: relative;
   
   &:active {
      box-shadow: 1px 1px 1px #080808;
   }
   
   }
   
   
   &__logo::before {
   content: url('https://www.gstatic.com/images/branding/googlelogo/svg/googlelogo_clr_74x24px.svg');
   display: inline-block;
   height: 24px;
   width: 74px;      
   
   }
}


}
@media only screen and (min-width: 576px) and (max-width: 618px) {
   .cv__body {
      .item {
         padding: 10px 30px;
      }
   
   }
}
@media (min-width: 618px) {
   .cv__body {
      .item {
         padding: 10px 40px;
      }
   
   }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
   body {
      font-size: 110%;
   }

   .cv__header { 
      .user {
         flex-direction: row-reverse;
         flex-grow: 1;
         justify-content: center;
         margin-left: 40px;

         &__logo {
            margin-right: 30px;
         }

         &__name {            
            margin-bottom: 0;

            p {
               font-size: 0.9em;
            }
            
         }

         header {
            flex-grow: 1;
            justify-content: space-between;
            margin-left: 0;

            h1 {
               font-size: 2em;
            }
         }
   
         .icon {
            align-self: center;
            margin-left: auto;
            margin-right: 40px;

            span {
               margin-left: 10px;
               }
            }
         
        
      }
   }

   .cv__body {
      grid-gap: 20px;
      grid-template-columns: [col-1-start] 1fr [col-2-start] 1fr [col-2-end];
      grid-template-rows: [row-1-start] 1fr  [row-2-start] 1fr [row-3-start] 1fr  [row-4-start] 50px [row-4-end];
   
      .item {
         padding: 10px 15px;         
      }

      p {
      font-size: 100%;
      }

   .h2 {
      text-align: left;
      }
   

   .item-1 {
      @include border-bottom;
      @include border-left; 
      border-top: 0 solid;
      margin-left: 0;
   }

   .item-2 {
      @include border-bottom;
      @include border-right;
      margin-right: 0;
   }

   .item-3 {
      @include border-top-and-botom;
      @include border-right;
      margin-left: 10px;
      margin-right: 0;
   }
   
   .item-4 {
      @include border-top-and-botom;
      @include border-left; 
      grid-column: col-2-start / col-2-end;
      grid-row: row-2-start/ row-4-start;
      margin-left: 0;
      margin-right: 10px;
   }
   
   .item-5 {
      @include border-top-and-botom;
      @include border-right;
      margin-left: 10px;
      margin-right: 0;
      
      li {
      margin-bottom: 10px;
      }

      a {
      align-items: center;
      background-color: rgb(17, 17, 17);
      display: flex;
      padding: 5px;
         
      & span {
         margin-right: 10px;
      }
      }
   }

   .item-6 {
      align-items: center;
      background-color: $color-acent-hover;
      display: flex;
      grid-column: 1 / 3;
      grid-row: 4;
      justify-content: center;
     
      z-index: 1;

      strong {
         font-size: 0.9em; 
      }
   
      p {
         line-height: 0.9em;
      }
   }

   .skills {
      margin-bottom: 10px;
      margin-left: -10px;
         }

         li {           
            font-size: 22px;
            margin-bottom: 10px;
            margin-left: 10px;
            min-width: 100px;
         }       
   }  
   
   .google {
      display: inline-block;
      height: 24px;
      vertical-align: middle;
      width: 74px;

      &__link {
      position: relative;
      
      &:active {
         box-shadow: 1px 1px 1px #080808;
      }
      
      }
      
      
      &__logo::before {
      content: url('https://www.gstatic.com/images/branding/googlelogo/svg/googlelogo_clr_74x24px.svg');
      display: inline-block;
      height: 24px;
      width: 74px;      
      
      }

   }

   }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
   .cv__header { 
      header {
         padding: 0;
      }

      .user {        
         justify-content: space-between;
         margin-bottom: 0;

         &__logo {        
           
            width: 280px;
   
            .img-сontainer {       
               width: 300px;
            }
   
            .img-container-after,
            .img-container-before {
               width: 300px;
            }            
            
            .img-container-before {
               width: 10%;
            }

            .after,
            .before {              
               width: 300px;
            } 
         } 
      }
   }

   .cv__body {
      .item {
         padding: 10px 30px;         
      }

      .skills {         
         li {
            min-width: 130px;   
         }       
   } 


   }
   }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
   }
