@import './vars';
// @import './breakpoints';


@mixin border-bottom {
    border-bottom: 1px solid $color-border;
}
@mixin border-left {
    border-left: 1px solid $color-border;
}
@mixin border-right {
    border-right: 1px solid $color-border;
}
@mixin border-top {
    border-top: 1px solid $color-border;
}

@mixin border-top-and-botom {
    @include border-top; 
    @include border-bottom;
}
