
$cv-background: rgba(228, 228, 228, 0.781);
$color-title: rgb(46, 44, 44);
$acent: rgb(226, 86, 21);
$acent-link: rgb(245, 222, 179);
$color-acent-hover: rgb(187, 22, 55);
$color-main: rgb(92, 86, 86);
$color-shadow: rgb(27, 26, 26);
$color-border: #b6aeae;
$transition-link: all  0.4s ease;
$transition-link-out: all 0.4s ease-out;
$color-link-after: rgb(27, 26, 26);

$font-fameli-title-span: 'Source Sans Pro', sans-serif;
$font-family-body-basic: 'Space Grotesk', sans-serif;


$font-family-link-basic: 'Big Shoulders Display';


