
$cv-background: rgba(228, 228, 228, 0.781);
$color-title: rgb(46, 44, 44);
$acent: rgb(226, 86, 21);
$color-acent-hover: rgb(187, 22, 55);
$color-main: rgb(92, 86, 86);
$color-shadow: rgb(27, 26, 26);
$color-border: #b6aeae;

