@import 'vars';
@import 'mixins';
@import './breakpoints';

.cv__header {    
    border: 1px solid $color-border;
    position: relative;
    z-index: 1;

    .user {
        justify-content: space-between;
        
        header {
            flex-grow: 1;
            justify-content: space-between;
            margin-left: 25px;
        }
    }
}



