@import './vendor';
@import './fonts';
@import './vars';
@import 'header';
@import 'body';

* ul {
  list-style-type: none;
  margin-left: -10px;
  padding-left: 0;
}

* {
  box-sizing: border-box;  
}

*a, *ul {
  font-family: $font-family-link-basic;
}

*a {
  color: $acent;
  font-weight: 800;
  position: relative;
  text-decoration: none;
  transition: $transition-link-out;

  &:hover {
   color: $color-acent-hover;
  }

  &:active {  
   text-shadow: 1px 0 1px $color-shadow;
  } 
}

.a__after {
  // position: relative;

    &::after {    
      background-color: $color-link-after;
      bottom: 0;
      content: '';
      height: 1px;
      left: 70%;
      position: absolute;
      right: 0;
      transition: $transition-link-out;
      
  }

    &__itincubator::after {
      right: 17px;
    }
  
    &__lavrik::after {
     right: 7px;
    }


  &:hover::after {
    background-color: $color-acent-hover;
    left: 0;
}
}

*p {
  font-size: 1.1em;
  line-height: 1.4em;
}

.icons-phone {
  color: rgb(121, 24, 218);
  height: 24px;
  width: 24px;
}

@media (min-width: 320px) {  
  .icons-phone {
    height: 16px;
    width: 16px;
  }
}


.download {
  border-radius: 10em;
  height: 24px;
  margin-left: 2px;
  margin-right: 8px;
  width: 24px;
} 

body { 
  font-family: $font-family-body-basic;  
  position: relative;
}


.cv {  
  background-image: url('./../img/1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  max-width: 1100px;
  padding-top: 10px;
  position: relative;

  &::after {
    background-color: $cv-background;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
  }
}


h1 {
  color: $acent;
  font-family: $font-family-link-basic;
}

.h2 {
  color: $color-title;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-inline {
  display: inline-flex;
  flex-direction: column;
}

.between {
  justify-content: space-between;  
}

.title {
  align-items: baseline;
  justify-content: space-between;

  span {
    font-family: $font-fameli-title-span, cursive;
    font-size: 0.8em;
  }
}
