@import './vendor';
@import './fonts';

body {
  background-image: url('./../img/1.jpg');
  font-family: 'Big Shoulders Display', cursive;
  position: absolute;  
}

h1 {
  color: rgb(236, 126, 15);
  font-family: 'Big Shoulders Display', cursive;
  position: relative;
}




